# Dependency directories
/node_modules

# Logs
*.log

# Environment variables
.env

# Built output
/dist

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Tests
/coverage
.nyc_output

# Other
.DS_Store
Thumbs.db

dist/
